footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: relative;

    width: 100%;
    height: 280px;

    background: linear-gradient(180deg, #b8a6e8, #a48ce0);

    overflow: hidden;
}

footer h1 {
    font-size: 2.5rem;

    background: linear-gradient(90deg, #5d37af, #6c43c7, #7b5bc9);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

footer p {
    font-size: 1rem;
    color: #ffffffd7;
}

footer p, footer a {
    text-shadow: 1px 1px 2px #00000035;
    font-weight: 300;

    transition: .3s;
}

.footer-navegar {
    display: flex;
    gap: 20px;
}

.footer-navegar a {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-navegar a:hover, .footer-item a:hover {
    color: #7b5bc9;
    text-shadow: 0 0 8px #7b5bc940;
}

.footer-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    height: 50px;
}

.footer-item {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.footer-item span {
    font-size: 2rem;
    color: #5d37af;

    transition: .3s ease;
}

.footer-item:hover span {
    color: white;
    transform: translateY(-6px) scale(1.08);
}

/* MOBILE */
@media (max-width:768px) {
    footer p {
        font-size: 1rem;
    }

    .footer-navegar a {
        font-size: 1.1rem;
    }

    .footer-contato span {
        font-size: 1.7rem;
    }
}