#sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

/* TEXTO */
.sobre-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 370px;
}

.sobre-texto h1 {
    font-size: 3rem;
    color: #653eb8;
}

.sobre-texto p {
    font-size: 1.2rem;
    color: #5f5873;

    text-align: justify;

    line-height: 1.8rem;
}

/* CARDS */
.sobre-container {
    display: flex;
    gap: 15px;

    margin-top: 10px;
}

.sobre-cards {
    width: 180px;
    height: 100px;

    padding: 10px;

    background-color: #e8e1f758;
    border: 1px solid #5305877b;
    border-radius: 10px;

    transition: .3s ease;

    cursor: pointer;
}

.sobre-cards:hover {
    transform: translateY(-5px);

    border-color: #530587;

    box-shadow: 0 10px 20px #842fc925;
}

.sobre-cards h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-size: 1.1rem;
    font-weight: 500;

    margin-bottom: 10px;
}

.sobre-cards span {
    color: #982ddf;
}

.sobre-cards p {
    font-size: .9rem;
    color: #5f5873;

    line-height: normal;
}

/* IMAGEM SETUP */
.sobre-setup {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bolha-sobre {
    position: absolute;

    width: 380px;
    height: 320px;

    background-color: #e8e1f7;

    border-radius: 61% 39% 68% 32% / 41% 51% 49% 59%;

    filter: blur(2px);

    opacity: .6;

    z-index: 1;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.sobre-setup img {
    position: relative;
    z-index: 2;
    height: 360px;

    filter: drop-shadow(0 10px 20px #00000033);
}

/* MOBILE */
@media (max-width:768px) {
    #sobre {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .sobre-texto {
        width: 100%;
        gap: 10px;
    }

    .sobre-texto h1 {
        font-size: 2rem;
    }

    .sobre-texto p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    /* CARDS */
    .sobre-container {
        justify-content: center;
        gap: 5px;
    }

    .sobre-cards {
        width: 140px;
    }

    .sobre-cards h2 {
        font-size: 1rem;
    }

    .sobre-cards p {
        font-size: .8rem;
        text-align: left;
    }

    /* IMAGEM SETUP */
    .bolha-sobre {
        width: 300px;
        height: 200px;
    }

    .sobre-setup img {
        height: 230px;
    }
}