#sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

/* TEXTO */
.sobre-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 500px;
}

.sobre-texto h1 {
    font-size: 3rem;
}

.sobre-texto p {
    font-size: 1.3rem;
}

/* IMAGEM SETUP */
.sobre-setup {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bolha-sobre {
    position: absolute;

    width: 380px;
    height: 320px;

    background-color: #e8e1f7;

    border-radius: 61% 39% 68% 32% / 41% 51% 49% 59%;

    filter: blur(2px);

    opacity: .6;

    z-index: 1;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.sobre-setup img {
    position: relative;
    z-index: 2;
    height: 350px;

    filter: drop-shadow(0 10px 20px #00000033);
}