@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f4f1fb;
    font-family: 'Outfit', sans-serif;
}

a {
    text-decoration: none;
}